@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Instrument Sans";
    src: url("../fonts/Instrument_Sans/InstrumentSans-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Instrument Sans";
    src: url("../fonts/Instrument_Sans/InstrumentSans-Medium.ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Instrument Sans";
    src: url("../fonts/Instrument_Sans/InstrumentSans-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Instrument Sans";
    src: url("../fonts/Instrument_Sans/InstrumentSans-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "BBH Bartle";
    src: url("../fonts/BBH_Bartle/BBHBartle-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

/* Menu Transition */

.menu-enter-from,
.menu-leave-to {
    opacity: 0;
}

.menu-enter-to,
.menu-leave-from {
    opacity: 1;
}

.menu-enter-active,
.menu-leave-active {
    transition: opacity 0.2s ease-in-out;
}

/* Page Transition */

.page-enter-active,
.page-leave-active {
  transition: all 0.4s ease-in-out;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(0.5rem);
    transform: translateY(1rem);
}